@import './colors.css';
@import './typography.css';

@import './header.css';
@import './main.css';
@import './footer.css';

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    height: 100%;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background-color: var(--background);
    color: var(--font);
    font: menu;
    font-size: 1rem;
    margin: 0;
    padding: 0;

    outline: 1px solid red;
    display: flex;
    flex-direction: column;
    height: 100vh;
}